@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  background: rgb(174,205,225);
  background: linear-gradient(90deg, rgba(174,205,225,1) 0%, rgba(58,150,208,1) 100%);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  overflow-x: hidden;
}
button:focus {
  outline: none;
}

.gradient{
  background-color: linear-gradient(90deg,rgba(58, 150, 208, 1) 0%,rgba(174, 205, 225, 1) 100%)
}
